[user]
	email = daniel.gross@l-bank.de
	name = Daniel Groß
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[push]
	autoSetupRemote = true
